<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/jquery.fancybox.pack.js"></script>
<script>
    $(document).ready(function () {
        $('.trailer').on('click',function () {
            var link_yt = $(this).data('link');
            $('.modal-trailer iframe').attr('src',link_yt);
        });
        $('.modal-backdrop,.close').on('click',function () {
            var link_reset = '';
            $('.modal-trailer iframe').attr('src',link_reset);
        });
        $('.btn_register').on('click',function () {
            $('.modal-register .tab li a').removeClass('active');
            $('.modal-register .tab-pane').removeClass('show active');
           $('.modal-register .tab li:nth-child(1) a').addClass('active');
           $('#register').addClass('show active');
        });
        $('.btn_login').on('click',function () {
            $('.modal-register .tab li a').removeClass('active');
            $('.modal-register .tab-pane').removeClass('show active');
            $('.modal-register .tab li:nth-child(2) a').addClass('active');
            $('#login').addClass('show active');
        });

        $("a[rel='thumb']").fancybox({
            'transitionIn'	:	'elastic',
            'transitionOut'	:	'elastic',
            'speedIn'		:	600,
            'speedOut'		:	200,
            'overlayShow'	:	false
        });

        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            autoplay: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: false,
            centerMode: true,
            arrows: false,
            centerPadding: 0,
            focusOnSelect: true
        });

        $('.tournament').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: false,
            pauseOnHover: false,
            autoplay: true,
            arrows: true
        });
        $('.slider-img').slick({
            centerMode: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerPadding: 0,
            autoplay: true,
            infinite: true,
            dots: false,
            arrows: true
        });
    });
</script>
</body>
</html>