<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/vongquay.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/TweenMax.min.js"></script>
<script src="./assets/js/Winwheel.js"></script>
<script>
    $(document).ready(function () {
        $('.btn_register').on('click',function () {
            $('.modal-register .tab li a').removeClass('active');
            $('.modal-register .tab-pane').removeClass('show active');
            $('.modal-register .tab li:nth-child(1) a').addClass('active');
            $('#register').addClass('show active');
        });
        $('.btn_login').on('click',function () {
            $('.modal-register .tab li a').removeClass('active');
            $('.modal-register .tab-pane').removeClass('show active');
            $('.modal-register .tab li:nth-child(2) a').addClass('active');
            $('#login').addClass('show active');
        });
    });

    // Create new wheel object specifying the parameters at creation time.
    let theWheel = new Winwheel({
        'numSegments'       : 6,         // Specify number of segments.
        'outerRadius'       : 290,       // Set outer radius so wheel fits inside the background.
        'drawMode'          : 'image',   // drawMode must be set to image.
        'drawText'          : true,      // Need to set this true if want code-drawn text on image wheels.
        'textFontSize'      : 0,        // Set text options as desired.
        'rotationAngle'   : 0,
        'responsive'   : true,

        'segments'     :                // Define segments.
            [
                {'text' : '<span>Áo GTV</span>'},
                {'text' : '<span>Chúc bạn may mắn lần sau</span>'},
                {'text' : '<span>Chuột fuhlen L102</span>'},
                {'text' : '<span>Tai nghe zidli h6</span>'},
                {'text' : '<span>Bàn phím e-dra ek701 gaming</span>'},
                {'text' : '<span>iPhone 12</span>'},
            ],

        'animation' :                   // Specify the animation to use.
            {
                'type'     : 'spinToStop',
                'duration' : 8,     // Duration in seconds.
                'spins'    : 8,     // Number of complete spins.
                'callbackFinished' : alertPrize
            }
    });

    // Create new image object in memory.
    let loadedImg = new Image();

    // Create callback to execute once the image has finished loading.
    loadedImg.onload = function()
    {
        theWheel.wheelImage = loadedImg;    // Make wheelImage equal the loaded image object.
        theWheel.draw();                    // Also call draw function to render the wheel.
    }

    // Set the image source, once complete this will trigger the onLoad callback (above).
    loadedImg.src = "assets/img/vongquay/vongquay.png";



    // Vars used by the code in this page to do power controls.
    let wheelPower    = 0;
    let wheelSpinning = false;

    // Click handler for spin button.

    function startSpin()
    {
        resetWheel();
        // Ensure that spinning can't be clicked again while already running.
        if (wheelSpinning == false) {
            // Based on the power level selected adjust the number of spins for the wheel, the more times is has
            // to rotate with the duration of the animation the quicker the wheel spins.

            if (wheelPower == 1) {
                theWheel.animation.spins = 2;
            } else if (wheelPower == 2) {
                theWheel.animation.spins = 5;
            } else if (wheelPower == 3) {
                theWheel.animation.spins = 8;
            }

            // Disable the spin button so can't click again while wheel is spinning.

            $('.spin_button_disable').addClass('active');

            // Begin the spin animation by calling startAnimation on the wheel object.
            theWheel.startAnimation();

            // Set to true so that power can't be changed and spin button re-enabled during
            // the current animation. The user will have to reset before spinning again.
            wheelSpinning = true;
        }
        setTimeout(function () {
            $('.spin_button_disable').removeClass('active');
        },8000);
    }


    // -------------------------------------------------------
    // Function for reset button.
    // -------------------------------------------------------
    function resetWheel()
    {
        theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
        theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
        theWheel.draw();                // Call draw to render changes to the wheel.

        wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.
    }

    // -------------------------------------------------------
    // Called when the spin animation has finished by the callback feature of the wheel because I specified callback in the parameters.
    // note the indicated segment is passed in as a parmeter as 99% of the time you will want to know this to inform the user of their prize.
    // -------------------------------------------------------
    function alertPrize(indicatedSegment)
    {
        // Do basic alert of the segment text. You would probably want to do something more interesting with this information.
        $('.content_rewrad').html(indicatedSegment.text);
        $('#popup-code').modal('show');
    }
</script>
</body>
</html>