<nav class="navbar">
    <h1><a href="" class="logo"><img src="./assets/img/logo.png" alt=""></a></h1>
    <ul class="menu flex">
        <li><a href="" title="Tải về"><i class="icon-download"><img src="./assets/img/icon-download.png" alt=""></i> Tải về</a></li>
        <li><a href="https://www.facebook.com/gametvplus" title="Fanpage" target="_blank">Fanpage</a></li>
        <li><a href="https://www.facebook.com/groups/gametvplus" title="Group" target="_blank">Group</a></li>
    </ul>
    <div class="user ml-auto flex">
        <a href="javascript:;" title="Đăng Ký" data-toggle="modal" data-target="#modal-register" class="btn_register">Đăng Ký</a>
        <a href="javascript:;" title="Đăng Nhập" data-toggle="modal" data-target="#modal-register" class="btn_login">Đăng Nhập</a>
    </div>
    <div class="version">
        <img src="./assets/img/version.png" alt="">
    </div>
</nav>
<div class="fullpage">
    <div class="page1 pr">
        <img src="./assets/img/page1.1.jpg" class="img-fullpage" alt="">
        <div class="page-content">
            <div class="txt">Kết nối cộng đồng game thủ việt</div>
            <div class="trailer flex-center" data-link="https://www.youtube.com/embed/10vPyXZVdLM?autoplay=1" data-toggle="modal" data-target="#modal-trailer"><span>Trailer</span></div>
            <a href="" title="" class="btn_download">Tải ngay</a>
            <video muted loop autoplay>
                <source src="./assets/img/Backfroundeffects.mp4" type="video/mp4">
            </video>
            <a href="https://thuclfc.gitlab.io/gtvplus/build/vong-quay.html" target="_blank" title="" class="btn_vongquay">Vòng quay may mắn</a>
        </div>
    </div>
    <div class="page2 pr">
        <img src="./assets/img/page2.jpg" class="img-fullpage" alt="">
        <div class="page-content">
            <div class="feature pr">
                <div class="slider slider-for">
                    <div class="item">
                        <a rel="thumb" href="./assets/img/img-lg.jpg"><img src="./assets/img/img-lg.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a rel="thumb" href="./assets/img/img-lg.jpg"><img src="./assets/img/img-lg.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a rel="thumb" href="./assets/img/img-lg.jpg"><img src="./assets/img/img-lg.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a rel="thumb" href="./assets/img/img-lg.jpg"><img src="./assets/img/img-lg.jpg" alt=""></a>
                    </div>
                </div>
                <div class="slider slider-nav">
                    <div class="item">
                        <img src="./assets/img/img-lg.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="./assets/img/img-lg.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="./assets/img/img-lg.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="./assets/img/img-lg.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page3 pr">
        <div class="title">Gải đấu</div>
        <div class="tournament">
            <div class="item">
                <img src="./assets/img/slide1.jpg" alt="">
                <a href="javascript:;" title="" class="btn_viewmore flex-center" data-toggle="modal" data-target="#modal-rule">Xem thêm</a>
            </div>
            <div class="item">
                <img src="./assets/img/slide1.jpg" alt="">
                <a href="javascript:;" title="" class="btn_viewmore flex-center" data-toggle="modal" data-target="#modal-rule">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="page4 pr">
        <img src="./assets/img/page4.1.jpg" class="img-fullpage" alt="">
        <div class="page-content">
            <div class="slider-img">
                <div class="item">
                    <a href="javascript:;">
                        <img src="./assets/img/age.png" alt="">
                        <h5>ages of empire</h5>
                        <div class="detail">
                            <p class="info flex-center">
                                <span>Chiến thuật</span>
                                <span class="flex-center"><img class="icon" src="./assets/img/icon-user.png" alt=""> 10.000</span>
                            </p>
                            <p class="des">Game đế chế phiên bản HD chuẩn từ GTV Plus</p>
                            <a href="" title="" class="btn_download">Tải ngay</a>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="./assets/img/age.png" alt="">
                        <h5>ages of empire</h5>
                        <div class="detail">
                            <p class="info flex-center">
                                <span>Chiến thuật</span>
                                <span class="flex-center"><img class="icon" src="./assets/img/icon-user.png" alt=""> 10.000</span>
                            </p>
                            <p class="des">Game đế chế phiên bản HD chuẩn từ GTV Plus</p>
                            <a href="" title="" class="btn_download">Tải ngay</a>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="./assets/img/age.png" alt="">
                        <h5>ages of empire</h5>
                        <div class="detail">
                            <p class="info flex-center">
                                <span>Chiến thuật</span>
                                <span class="flex-center"><img class="icon" src="./assets/img/icon-user.png" alt=""> 10.000</span>
                            </p>
                            <p class="des">Game đế chế phiên bản HD chuẩn từ GTV Plus</p>
                            <a href="" title="" class="btn_download">Tải ngay</a>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="./assets/img/age.png" alt="">
                        <h5>ages of empire</h5>
                        <div class="detail">
                            <p class="info flex-center">
                                <span>Chiến thuật</span>
                                <span class="flex-center"><img src="./assets/img/icon-user.png" alt=""> 10.000</span>
                            </p>
                            <p class="des">Game đế chế phiên bản HD chuẩn từ GTV Plus</p>
                            <a href="" title="" class="btn_download">Tải ngay</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-trailer" id="modal-trailer">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">X</a>
            <iframe src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<div class="modal fade modal-rule" id="modal-rule">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">X</a>
            <h2 class="title flex-center">Thể lệ</h2>
            <article>
                <p>1 - Những yêu cầu từ người tham gia</p>
                <p>1.1 - Thông tin</p>
                <p>Người chơi cần phải cung cấp thông tin cá nhân chính xác đến Admin của CS:GO nếu được yêu cầu. Tất cả các thông tin cá nhân của người chơi được công khai từ BTC phải chính xác.</p>
                <p>1.2 - SteamIDs</p>
                <p>BTC yêu cầu tất cả người chơi CS:GO chỉ được có duy nhất một tài khoản Steam (SteamID) sử dụng trong giải đấu. Trong tất cả các trận đấu/ giải đấu, người chơi phải sử dụng tài khoản Steam (SteamIDs) đã thiết lập. SteamID của người chơi phải được thiết lập trước khi được hợp lệ tham gia bất kỳ trận đấu nào.</p>
                <p>Tài khoản Steam thuộc sở hữu trách nhiệm của người chơi. BTC không chịu trách nhiệm bất cứ vấn đề gì liên quan đến Tài Khoản Steam</p>
                <p>1.3 - Tinh thần thể thao</p>
                <p>Người chơi phải chấp hành, tuân theo và tôn trọng tinh thần thể thao. Tinh thần thể thao phải được thể hiện kể cả trước, trong và sau khi trận đấu kết thúc. Hành vi phi thể thao không được cho phép. Tinh thần thể thao không chỉ liên quan đến các đội khác; các hành vi phá rối hoặc không tuân thủ nội quy của giải đấu, admin, casters hoặc người xem cũng bị xem là hành vi phi thể thao.</p>
                <p>Tinh thần thể thao cần được thể hiện kể cả trong các diễn đàn, hành vi quấy rối quá mức trong diễn đàn của giải đấu sẽ bị cấm và trong những trường.</p>
                <p>Tinh thần thể thao cần được thể hiện kể cả trong các diễn đàn, hành vi quấy rối quá mức trong diễn đàn của giải đấu sẽ bị cấm và trong những trường.</p>
            </article>
        </div>
    </div>
</div>
<div class="modal fade modal-register" id="modal-register">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">X</a>
            <ul class="nav tab flex">
                <li><a href="#register" title="" data-toggle="tab">Đăng ký</a></li>
                <li><a href="#login" title="" data-toggle="tab">Đăng nhập</a></li>
            </ul>
            <div class="tab-content">
                <div id="register" class="tab-pane fade">
                    <form action="" method="" class="form-register">
                        <fieldset>
                            <div class="form-group">
                                <i class="icon icon-acc"></i>
                                <input type="text" name="Username" placeholder="Tên đăng nhập" required>
                            </div>
                            <div class="form-group">
                                <i class="icon icon-email"></i>
                                <input type="email" name="Email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <i class="icon icon-pass"></i>
                                <input type="password" name="Password" placeholder="Mật khẩu" required>
                            </div>
                            <div class="form-group">
                                <i class="icon icon-pass"></i>
                                <input type="password" name="re-password" placeholder="Nhập lại mật khẩu" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="" placeholder="Mã bảo vệ" required>
                                <div class="code">QWERT</div>
                            </div>
                        </fieldset>
                        <label class="checkbox flex pr">
                            <input type="checkbox" name="">
                            <span class="checked"></span>
                            Tôi đồng ý với điều khoản của  GTV Plus
                        </label>
                        <button type="submit" class="btn_submit flex-center">Đăng ký</button>
                    </form>
                </div>
                <div id="login" class="tab-pane fade">
                    <form action="" method="" class="form-login">
                        <fieldset>
                            <div class="form-group">
                                <i class="icon icon-acc"></i>
                                <input type="text" name="Username" placeholder="Tên đăng nhập" required>
                            </div>
                            <div class="form-group">
                                <i class="icon icon-pass"></i>
                                <input type="password" name="Password" placeholder="Mật khẩu" required>
                            </div>
                        </fieldset>
                        <a href="" class="forgot-password">Quên mật khẩu?</a>
                        <button type="submit" class="btn_submit flex-center">Đăng nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-login" id="modal-login">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">X</a>
            <h2 class="title flex-center">Đăng nhập</h2>
            <form action="" method="" class="form-login">
                <fieldset>
                    <div class="form-group">
                        <i class="icon icon-acc"></i>
                        <input type="text" name="Username" placeholder="Tên đăng nhập" required>
                    </div>
                    <div class="form-group">
                        <i class="icon icon-pass"></i>
                        <input type="password" name="Password" placeholder="Mật khẩu" required>
                    </div>
                </fieldset>
                <a href="" class="forgot-password">Quên mật khẩu?</a>
                <button type="submit" class="btn_submit flex-center">Đăng nhập</button>
            </form>
        </div>
    </div>
</div>