<main class="pr">
    <img src="./assets/img/vongquay/bg-vongquay.jpg" alt="" class="bg bg-pc">
    <img src="./assets/img/vongquay/bg-vongquay-m.jpg" alt="" class="bg-mobile">
    <div class="main-inner">
        <nav class="navbar">
            <h1><a href="" class="logo"><img src="./assets/img/logo.png" alt=""></a></h1>
            <ul class="menu flex">
                <li><a href="" title="Tải về"><i class="icon-download"><img src="./assets/img/icon-download.png" alt=""></i> Tải về</a></li>
                <li><a href="https://www.facebook.com/gametvplus" title="Fanpage" target="_blank">Fanpage</a></li>
                <li><a href="https://www.facebook.com/groups/gametvplus" title="Group" target="_blank">Group</a></li>
            </ul>
            <div class="user ml-auto flex">
                <a href="javascript:;" title="Đăng Ký" data-toggle="modal" data-target="#modal-register" class="btn_register">Đăng Ký</a>
                <a href="javascript:;" title="Đăng Nhập" data-toggle="modal" data-target="#modal-register" class="btn_login">Đăng Nhập</a>
            </div>
            <div class="version">
                <img src="./assets/img/version.png" alt="">
            </div>
        </nav>
        <div class="wheel">
            <div class="wheel__it flex">
                <div class="info flex-lc">
                    <p><span>0</span> lượt quay</p>
                    <p>TK: abc...xyz</p>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn_rule" data-toggle="modal" data-target="#popup-rule">Thể lệ</button>
                    <button type="button" class="btn_history" data-toggle="modal" data-target="#popup-history">lịch sử quay</button>
                </div>
            </div>
            <div class="wheel__it flex">
                <button type="button" class="btn_exit">Thoát</button>
                <div class="share flex-lc">
                    <h5>chia sẻ để nhận thêm lượt quay</h5>
                    <button type="button" class="btn_share">Chia sẻ</button>
                </div>
            </div>
            <div class="wheel__detail pr">
                <a href="javascript:;" id="spin_button" onClick="startSpin();"></a>
                <a href="javascript:;" class="spin_button_disable"></a>
                <canvas id="canvas" width="650" height="650" data-responsiveMinWidth="180" data-responsiveScaleHeight="true" >
                    <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                </canvas>
            </div>
        </div>
    </div>
    <div class="modal fade popup-code" id="popup-code">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chúc mừng</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Bạn đã quay trúng</h5>
                    <p class="content_rewrad"></p>
                    <a href="javascript:;" class="btn-agree" data-dismiss="modal"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade popup-history" id="popup-history">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal">X</a>
                <h5 class="title">Lịch sử vòng quay may mắn</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Ngày quay</th>
                            <th colspan="2">Vật phẩm trúng thưởng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15:35:25 <br> 05-11-2020</td>
                            <td>Chúc bạn may mắn lần sau</td>
                            <td><img src="./assets/img/vongquay/goodluck.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>15:35:25 <br> 05-11-2020</td>
                            <td>iPhone 12</td>
                            <td><img src="./assets/img/vongquay/iphone.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>15:35:25 <br> 05-11-2020</td>
                            <td>Áo GTV</td>
                            <td><img src="./assets/img/vongquay/aogtv.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>15:35:25 <br> 05-11-2020</td>
                            <td>Chuột Fuhlen L102</td>
                            <td><img src="./assets/img/vongquay/mouse.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>15:35:25 <br> 05-11-2020</td>
                            <td>Bàn phím E-dra EK701 Gaming</td>
                            <td><img src="./assets/img/vongquay/key.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>15:35:25 <br> 05-11-2020</td>
                            <td>Tai nghe Zidli H6</td>
                            <td><img src="./assets/img/vongquay/phone.png" alt=""></td>
                        </tr>
                    </tbody>
                </table>
                <div class="nav flex">
                    <button type="button" class="btn_prev">prev</button>
                    <button type="button" class="btn_next">next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade popup-rule" id="popup-rule">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="title">Thể lệ vòng quay may mắn</h5>
                </div>
                <div class="modal-body">
                    <article>
                        <p>Thể lệ vòng quay may mắn</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-register" id="modal-register">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal">X</a>
                <ul class="nav tab flex">
                    <li><a href="#register" title="" data-toggle="tab">Đăng ký</a></li>
                    <li><a href="#login" title="" data-toggle="tab">Đăng nhập</a></li>
                </ul>
                <div class="tab-content">
                    <div id="register" class="tab-pane fade">
                        <form action="" method="" class="form-register">
                            <fieldset>
                                <div class="form-group">
                                    <i class="icon icon-acc"></i>
                                    <input type="text" name="Username" placeholder="Tên đăng nhập" required>
                                </div>
                                <div class="form-group">
                                    <i class="icon icon-email"></i>
                                    <input type="email" name="Email" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <i class="icon icon-pass"></i>
                                    <input type="password" name="Password" placeholder="Mật khẩu" required>
                                </div>
                                <div class="form-group">
                                    <i class="icon icon-pass"></i>
                                    <input type="password" name="re-password" placeholder="Nhập lại mật khẩu" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Mã bảo vệ" required>
                                    <div class="code">QWERT</div>
                                </div>
                            </fieldset>
                            <label class="checkbox flex pr">
                                <input type="checkbox" name="">
                                <span class="checked"></span>
                                Tôi đồng ý với điều khoản của  GTV Plus
                            </label>
                            <button type="submit" class="btn_submit flex-center">Đăng ký</button>
                        </form>
                    </div>
                    <div id="login" class="tab-pane fade">
                        <form action="" method="" class="form-login">
                            <fieldset>
                                <div class="form-group">
                                    <i class="icon icon-acc"></i>
                                    <input type="text" name="Username" placeholder="Tên đăng nhập" required>
                                </div>
                                <div class="form-group">
                                    <i class="icon icon-pass"></i>
                                    <input type="password" name="Password" placeholder="Mật khẩu" required>
                                </div>
                            </fieldset>
                            <a href="" class="forgot-password">Quên mật khẩu?</a>
                            <button type="submit" class="btn_submit flex-center">Đăng nhập</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>