body{
  background: #000;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-thumb{background: #888;}
  &::-webkit-scrollbar-track{background: #ccc;}
}

body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@font-face {
  font-family: UTMFacebookRKT;
  src: url("#{$font-path}/UTMFacebookRKT.ttf");
}

@font-face {
  font-family: utm-colossalis;
  src: url("#{$font-path}/utm-colossalis.ttf");
}

@font-face {
  font-family: utm-ericsson-capital;
  src: url("#{$font-path}/utm-ericsson-capital.ttf");
}

@font-face {
  font-family: utm-neo-sans-intel;
  src: url("#{$font-path}/utm-neo-sans-intel.ttf");
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url("#{$font-path}/MyriadPro-Regular.otf");
}

.page-content{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
}
//navbar
.navbar{
  width: 100%; height: vw(74px);
  align-items: center;
  padding: vw(14px) vw(60px);
  background: rgba(#000,.8);
  position: fixed; top: 0; z-index: 9;
  .logo{display: block; width: vw(162px);}
  .version{width: vw(152px); position: absolute; right: vw(87px); top: 0;}
  .icon-download{width: vw(62px); position: absolute; left: vw(-60px);}
  .menu{
    align-items: center;
    margin-left: vw(140px);
    li{margin: 0 vw(15px);}
  }
  .menu,.user{
    a{
      display: flex; align-items: center;
      font:vw(20px) UTMFacebookRKT, sans-serif; letter-spacing: -0.5px; color: #fff; text-transform: uppercase;
      text-shadow: 1px 1px 12px #0f7988, 1px -1px 12px #0f7988,1px 1px 6px #0f7988;
      position: relative;
    }
    a:hover{color: #ccc;}
  }
  .user{
    margin-right: vw(250px);
    a{margin: 0 vw(17px);}
  }
}

//page1
.page1{
  video{width: 100%; position: absolute; bottom: 0; z-index: 2; object-fit: cover;}
  .txt{
    width: vw(554px); height: vw(190px);
    text-indent: -9999em;
    background: url("#{$img-path}/text-p1.png") no-repeat 0 0/contain;
    position: absolute; left: vw(680px); top: vw(105px); z-index: 3;
  }
}
.btn_download{
  width: vw(299px); height: vw(123px);
  display: block; margin: vw(74px) auto 0; text-indent: -9999em;
  background: url("#{$img-path}/btn-download.png") no-repeat 0 0/contain;
  animation: flash 1s infinite linear; position: relative; z-index: 3;
}
.trailer{
  margin: vw(425px) auto 0;
  width: vw(272px); height: vw(272px);
  padding-right: vw(20px);
  cursor: pointer; position: relative; z-index: 3;
  span{
    width: vw(135px); height: vw(134px); display: block;
     text-indent: -9999em;
    background: url("#{$img-path}/play.png") no-repeat 0 0/contain;
    animation: flash 1.5s infinite linear;
  }
}
.btn_vongquay{
  width: vw(170px); height: vw(159px);
  text-indent: -9999em;
  background: url("#{$img-path}/icon-vong-quay.png") no-repeat 0 0/contain;
  position: fixed; right: vw(80px); bottom: vw(60px);
  animation: pulse .8s infinite linear; z-index: 9; transition: .25s;
  &:hover{-webkit-filter: saturate(1.4);}
}

//page2
.feature{
  width: vw(781px); height: vw(610px);
  margin: vw(300px) 0 0 vw(304px);
  .slider-for{width: vw(781px); height: vw(446px); margin-bottom: vw(24px); padding: vw(34px) vw(36px); background: url("#{$img-path}/bg-slider.png") no-repeat 0 0/contain;}
  .slider-nav{
    .item{height: vw(137px); margin: 0 vw(10px); padding: vw(10px); background: url("#{$img-path}/bg-slider.png") no-repeat 0 0/contain;}
    .slick-current{-webkit-filter: saturate(2.1);}
  }
  .slick-arrow{width: vw(60px); height: vw(52px);}
  .slick-next{right: vw(-90px);}
  .slick-prev{left: vw(-90px);}
}

//page3
.page3{
  .slick-slide{position: relative;}
  .title{
    width: vw(719px); height: vw(92px);
    text-indent: -9999em;
    background: url("#{$img-path}/title.png") no-repeat 0 0/contain;
    position: absolute; top: vw(40px); left: 50%; transform: translateX(-50%); z-index: 2;
  }
  .btn_viewmore{
    width: vw(253px); height: vw(43px);
    border: vw(2px) solid #ffff; border-radius: vw(10px);
    letter-spacing: 3.1px;
    font: vw(31px) utm-colossalis, sans-serif; color: #fff;
    text-transform: uppercase;
    position: absolute; left: 50%; transform: translateX(-50%); bottom: vw(99px);
  }
  .slick-next{right: vw(170px);}
  .slick-prev{left: vw(170px);}
  a:focus{outline: none;}
}

//page4
.page4{
  .page-content{padding-top: vw(180px);}
}
.slider-img{
  width: vw(1150px); height: vw(703px); margin: 0 auto;
  a{display: block; margin: 0 auto; position: relative; opacity: .5; transition: .25;}
  a:focus{outline: none;}
  /*a::after{
    content: "";
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background: rgba(#091f44,.7);
  }*/
  .slick-track{display: flex; align-items: center;}
  .slick-slide{
    text-align: center; font-family: utm-neo-sans-intel, sans-serif; transition: all .2s ease-in-out;
    img{max-width: 90%; display: block; margin: 0 auto;}
    .icon{margin-left: 0; margin-right: 4px;}
  }
  h5{margin-top: vw(-10px); font-size: vw(30px); color: #fff; text-transform: uppercase;}
  .des{display: inline-block; padding: vw(8px) 0; border-top: 1px solid #a9a9a9; margin-top: vw(14px); color: #b9b9b9; font-size: vw(15px);}
  span{min-width: vw(98px); margin: 0 vw(7px); padding: vw(1px) vw(10px); font-size: vw(14.5px); border-radius: 7.5px; background: rgba(#c70909,.49); color: #fff; text-transform: uppercase;}
  .btn_download{width: vw(164px); height: vw(68px); margin-top: vw(10px);}
  .detail{display: none;}
  .slick-current{
    padding: 0;
    .detail{display: block;}
    a{opacity: 1;}
    a::after{background: rgba(#091f44,0);}
    img{max-width: 100%;}
  }
  .slick-arrow{width: vw(68px); height: vw(58px); top: 40%;}
  .slick-next{right: vw(-90px);}
  .slick-prev{left: vw(-90px);}
}

//modal
.modal{
  &::-webkit-scrollbar{width: 0;}
}
.fancybox-overlay{
  &::-webkit-scrollbar{width: 8px;}
}
.modal-trailer{
  .modal-dialog{max-width: 74.6vw;}
  .modal-content{
    width: 100%; height: 86vh; background: #000;
    iframe{width: 100%; height: 100%;}
  }
  .close{
    width: 81px; height: 81px;
    display: block; text-indent: -9999em;
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    opacity: .9;
    position: absolute; right: -70px; top: -18px;
  }
}
.modal-rule{
  .modal-dialog{max-width: vw(758px);}
  .modal-content{
    width: 100%; background: none;
  }
  .title{
    margin-bottom: vw(40px);
    font: vw(50px) utm-ericsson-capital, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #0084ff, 1px -1px 20px #0084ff,1px 1px 10px #0084ff;
    &::after,&::before{
      content: "";
      width: vw(145px); height: vw(2px);
      background: #fff;
      display: block; margin: 0 vw(70px);
      box-shadow: 1px 1px 20px #0084ff;
    }
  }
  article{
    padding: vw(10px); height: vw(770px);
    border: vw(3px) solid #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #0084ff;
    overflow: auto;
    p{
      margin: vw(15px) 0; color: #fff; text-shadow: 1px 1px 10px #0084ff, 1px -1px 10px #0084ff,1px 1px 5px #0084ff; font-size: vw(21px); line-height: 1.3;
      @media (max-width: 1440px) {
        text-shadow: 1px 1px 10px #0084ff, 1px -1px 5px #0084ff;
      }
    }
    &::-webkit-scrollbar{width: vw(10px); padding: 0 5px;}
    &::-webkit-scrollbar-thumb{background: #bcdfff; width: 5px; border-radius: vw(10px); box-shadow: 1px 1px 20px #0084ff;}
    &::-webkit-scrollbar-track{background: none; border-left: 2px solid #bcdfff;}
  }
  .close{
    width: vw(81px); height: vw(81px);
    display: block; text-indent: -9999em;
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    opacity: .9;
    position: absolute; right: vw(-70px); top: vw(95px);
  }
}
.modal-register,.modal-login{
  .modal-dialog{max-width: 453px; margin: 2rem auto;}
  .modal-content{
    width: 100%; background: transparent;
  }
  .title{
    min-height: 68px;
    background-image: linear-gradient(to top, #ce1429, #7a0303);
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    color: #fff; font: 33px MyriadPro-Regular, sans-serif;
  }
  .close{
    width: 36px; height: 36px;
    text-indent: -9999em;
    background: url("#{$img-path}/icons.png") no-repeat 0 -64px;
    position: absolute; top: 0; right: -40px; opacity: .9;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 45px;
    min-height: 466px;
    font-family: MyriadPro-Regular, sans-serif;
    .code{font-size: 19px; color: #fff;}
    fieldset{background: #141414; border-radius: 5px; box-shadow: -1px -0.2px 0 0 rgba(255, 255, 255, 0.1), inset -2px -0.3px 3px 0 rgba(0, 0, 0, 0.4);}
    .form-group{display: flex; align-items: center; padding: 0 15px; margin-bottom: 0; border-bottom: 2px solid #0b0b0b;}
    .form-group:last-child{border-bottom: none;}
    .forgot-password{
      display: inline-block; margin-top: 30px;
      font-size: 18px; color: #fff;
      &:hover{text-decoration: underline;}
    }
    input{flex-grow: 1; min-height: 55px; background: none; border: none; color: #fff; font-size: 19px;}
    input:focus{outline: none;}
    input::placeholder{color: #fff;}
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-transition-delay: 9999s;
    }
    .icon{display: block; margin-right: 15px; background: url("#{$img-path}/icons.png") no-repeat 0 0;}
    .icon-acc{width: 22px; height: 25px; background-position: 0 0;}
    .icon-email{width: 32px; height: 21px; background-position: -1px -27px;}
    .icon-pass{width: 24px; height: 11px; background-position: 0 -51px;}
    .checkbox{
      margin-top: 16px;
      align-items: center;
      font-size: 17px; color: #fff;
      input{opacity: 0; position: absolute; visibility: hidden;}
      .checked{
        width: 29px; height: 29px; display: block;
        border-radius: 0.6px;
        margin-right: 10px;
        box-shadow: -1px -0.2px 0 0 rgba(255, 255, 255, 0.1), inset -2px -0.3px 3px 0 rgba(0, 0, 0, 0.4);
        background-color: #141414;
        position: relative;
      }
      .checked::after{
        content: "";
        width: 26px; height: 26px;
        background: url("#{$img-path}/icons.png") no-repeat -1px -103px;
        position: absolute; left: 2px; opacity: 0; visibility: hidden;
      }
      input:checked + .checked::after{opacity: 1; visibility: visible;}
    }
    .btn_submit{
      width: 176px; height: 46px;
      margin: 24px auto 0; border-radius: 5px;
      background-image: linear-gradient(to top, #ce1429, #7a0303);
      text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.6);
      font-size: 20px; color: #fff; text-transform: uppercase;
      border: none; transition: all .25s;
      &:hover{-webkit-filter: saturate(1.4); filter: saturate(1.4);}
    }
  }
  .tab-content{
    background: #1f1f1f;
    box-shadow: -2px -0.3px 3px 0 rgba(0, 0, 0, 0.2), inset -1px -0.3px 0 0 rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.2);
  }
  .nav{
    justify-content: space-between;
    li{width: 49.5%;}
    a{
      width: 100%; height: 46px;
      display: block; text-align: center;
      border-radius: 5px 5px 0 0;
      background-image: linear-gradient(to top, #31050a, #210102); color: #fff; font: 24px/50px MyriadPro-Regular, sans-serif; text-transform: uppercase;
    }
    .active{background-image: linear-gradient(to top, #ce1429, #7a0303); border-radius: 5px 5px 0 0;}
  }
}

//uikit
img{max-width: 100%;}
.pr{position: relative;}
button{
  cursor: pointer;
  &:focus{outline: none;}
}
a:hover{text-decoration: none;}
.slick-arrow{
  width: vw(81px); height: vw(69px);
  background: url("#{$img-path}/btn-prev.png") no-repeat 0 0/contain;
  font-size: 0; border: none;
  position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; transition: .25s; z-index: 2;
  &:focus{outline: none;}
  &:hover{-webkit-filter: saturate(2.9); filter: saturate(2.9);}
}
.slick-next{transform: translateY(-50%) rotate(180deg);}
.modal-backdrop.show{opacity: .8}
.modal-backdrop{
  background: #000 url("#{$img-path}/bg-decor.png") no-repeat top left;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}

@keyframes rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}
.rotate{
  animation: rotate;
  -webkit-animation-name: rotate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.06, 1.06, 1.06);
    transform: scale3d(1.06, 1.06, 1.06);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.06, 1.06, 1.06);
    transform: scale3d(1.06, 1.06, 1.06);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}