body{
  background: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-thumb{background: #888;}
  &::-webkit-scrollbar-track{background: #ccc;}
}

body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@font-face {
  font-family: UTMTrajanProBold;
  src: url("#{$font-path}/UTMTrajanProBold.ttf");
}

a:hover{text-decoration: none;}
img{max-width: 100%;}
.pr{position: relative;}
main{
  .bg-mobile{display: none;}
}
//navbar
.navbar{
  width: 100%; height: vw(74px);
  align-items: center;
  padding: vw(14px) vw(60px);
  background: rgba(#000,.8);
  position: fixed; top: 0; z-index: 9;
  .logo{display: block; width: vw(162px);}
  .version{width: vw(152px); position: absolute; right: vw(87px); top: 0;}
  .icon-download{width: vw(62px); position: absolute; left: vw(-60px);}
  .menu{
    align-items: center;
    margin-left: vw(140px);
    li{margin: 0 vw(15px);}
  }
  .menu,.user{
    a{
      display: flex; align-items: center;
      font:vw(20px) UTMFacebookRKT, sans-serif; letter-spacing: -0.5px; color: #fff; text-transform: uppercase;
      text-shadow: 1px 1px 12px #0f7988, 1px -1px 12px #0f7988,1px 1px 6px #0f7988;
      position: relative;
    }
    a:hover{color: #ccc;}
  }
  .user{
    margin-right: vw(250px);
    a{margin: 0 vw(17px);}
  }
}
.main-inner{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}

.wheel{
  padding-top: vw(210px);
  &__it{
    width: vw(680px);
    margin: vw(10px) auto;
    justify-content: space-between;
    .info{
      height: vw(36px); padding: 0 vw(17px) 0 vw(5px); background: url("#{$img-path}/vongquay/polygon3.png") no-repeat 0 0/100% 100%;
      >*+*{border-left: 1px solid #4a4a4a;}
      p{display: flex; align-items: center;}
      span{margin-right: vw(5px);}
    }
    h5{margin: 0 vw(8px) 0 0; color: #fff; font-size: vw(14px); text-transform: uppercase;}
    p{margin-bottom: 0; padding: 0 vw(12px); color: #fff; font-size: vw(14px); font-weight: 700; text-transform: uppercase;}
    p span{color: #f5cd47; font-size: vw(18px);}
    .btn_exit,.btn_share{
      width: vw(123px); height: vw(36px);
      display: block; text-indent: -9999em; transition: .25s;
      &:hover{-webkit-filter: saturate(1.8); filter: saturate(1.8);}
    }
    .btn_exit{background: url("#{$img-path}/vongquay/exit.png") no-repeat 0 0/contain;}
    .btn_share{background: url("#{$img-path}/vongquay/share.png") no-repeat 0 0/contain;}
  }
  &__detail{
    width: vw(711px);
    height: vw(711px);
    display: block;
    background: url("#{$img-path}/vongquay/bg-vq.png") no-repeat 0 0/contain;
    margin: vw(30px) auto 0;
    position: relative; z-index: 8;
  }
  .box-btn{
    >*+*{margin-left: vw(8px);}
    button{
      height: vw(36px); padding: 0 vw(18px);
      font-size: vw(18px); font-weight: 700; color: #fff; text-align: center; line-height: vw(36px);
      text-transform: uppercase;
    }
    .btn_rule{background: url("#{$img-path}/vongquay/polygon2.png") no-repeat 0 0/100% 100%;}
    .btn_history{background: url("#{$img-path}/vongquay/polygon1.png") no-repeat 0 0/100% 100%; font-family: UTMTrajanProBold, sans-serif;}
  }
}
canvas{
  width: vw(650px); height: vw(650px); display: block; margin: 0 auto;
  background: url("#{$img-path}/vongquay/vongquay.png") no-repeat 0 0/contain;
  position: absolute; left: 0; right: 0; top: vw(30px);
}
#spin_button,.spin_button_disable{
  width: vw(176px); height: vw(258px);
  position: absolute; left: 50%; top: vw(192px); transform: translateX(-50%);
  background: url("#{$img-path}/vongquay/arrow.png") no-repeat 0 0/contain;
  z-index: 9; transition: .25s; /*animation: flash 2.5s infinite linear;*/
  &:hover{-webkit-filter: saturate(1.4); filter: saturate(1.4);}
}
.spin_button_disable{
  display: none;
}
.spin_button_disable.active{
  display: block; z-index: 99;
}

.popup-code{
  .modal-dialog{
    max-width: 684px;
  }
  .modal-content{
    width: 684px; height: 340px;
    background: url("#{$img-path}/vongquay/bg-popup.png") no-repeat 0 0/contain;
    border: none;
  }
  .close{
    position: absolute;
    color: #fff;
    box-shadow: none;
    right: 20px;
    top: 14px;
    &:hover{color: #fff !important;}
  }
  .modal-header{border-bottom: none;}
  .modal-title{
    display: block; width: 100%;
    text-align: center; color: #fff; text-transform: uppercase;
    font: 700 30px/56px Roboto,sans-serif;
    background: -webkit-linear-gradient(#fff 20%, #79a9ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .modal-body{padding-top: 5px;}
  h5{display: block; margin: 20px 0; color: #fff; text-align: center; font: 500 24px Roboto, sans-serif;}
  .content_rewrad{
    text-align: center; color: #fff;
    span{
      display: block;
      padding: 0 10px; margin: 0 auto 20px;
      text-align: center; font: 22px/46px Roboto, sans-serif; color: #fffc00;
    }
  }
  .btn-agree{
    width: 179px; height: 45px; display: block;
    margin: 0 auto;
    background: url("#{$img-path}/vongquay/btn-agree.png") no-repeat 0 0/contain;
    &:hover{-webkit-filter: saturate(1.8); filter: saturate(1.8);}
  }
}
.popup-history{
  .modal-dialog{max-width: 600px;}
  .modal-content{
    width: 100%; min-height: 650px; padding: 0 10px;
    background: url("#{$img-path}/vongquay/popup.jpg") no-repeat;
  }
  .close{
    width: 25px; height: 25px;
    text-indent: -9999em;
    background: url("#{$img-path}/vongquay/close.png") no-repeat 0 0/contain;
    position: absolute; top: 9px; right: 9px;
    opacity: .9;
  }
  .title{display: block; margin: 32px 0 42px; text-align: center; font-weight: 700; font-size: 24px; color: #fff; text-transform: uppercase;}
  table{
    max-width: 463px; width: 100%; margin: 0 auto; border-collapse: collapse;
    th,td{border: 1px solid #3f4149; color: #fff; text-align: center;}
    th{padding: 4px; font-size: 16px; font-weight: 700;}
    td{padding: 8px 10px; font-size: 12px;}
    td:last-child{min-width: 150px;}
    td:nth-child(2){text-align: left;}
    img{display: block; margin: 0 auto;}
  }
  .nav{
    width: 100%; max-width: 463px; margin: 10px auto 0; justify-content: flex-end;
    >*+*{margin-left: 5px;}
    button{width: 30px; height: 30px; text-indent: -9999em; border: solid 1px #3f4149;  background:#000 url("#{$img-path}/vongquay/arr.png") no-repeat center center;}
    button:hover{border: solid 1px #ff9999; background:#f82d49 url("#{$img-path}/vongquay/arr.png") no-repeat center center;}
    .btn_prev{transform: rotate(180deg);}
  }
}
.popup-rule{
  .modal-dialog{max-width: 700px;}
  .title{font-weight: 500;}
  .close{position: absolute; top: 10px; right: 10px;}
}
.modal-register,.modal-login{
  .modal-dialog{max-width: 453px; margin: 2rem auto;}
  .modal-content{
    width: 100%; background: transparent;
  }
  .title{
    min-height: 68px;
    background-image: linear-gradient(to top, #ce1429, #7a0303);
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    color: #fff; font: 33px MyriadPro-Regular, sans-serif;
  }
  .close{
    width: 36px; height: 36px;
    text-indent: -9999em;
    background: url("#{$img-path}/icons.png") no-repeat 0 -64px;
    position: absolute; top: 0; right: -40px; opacity: .9;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 45px;
    min-height: 466px;
    font-family: MyriadPro-Regular, sans-serif;
    .code{font-size: 19px; color: #fff;}
    fieldset{background: #141414; border-radius: 5px; box-shadow: -1px -0.2px 0 0 rgba(255, 255, 255, 0.1), inset -2px -0.3px 3px 0 rgba(0, 0, 0, 0.4);}
    .form-group{display: flex; align-items: center; padding: 0 15px; margin-bottom: 0; border-bottom: 2px solid #0b0b0b;}
    .form-group:last-child{border-bottom: none;}
    .forgot-password{
      display: inline-block; margin-top: 30px;
      font-size: 18px; color: #fff;
      &:hover{text-decoration: underline;}
    }
    input{flex-grow: 1; min-height: 55px; background: none; border: none; color: #fff; font-size: 19px;}
    input:focus{outline: none;}
    input::placeholder{color: #fff;}
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-transition-delay: 9999s;
    }
    .icon{display: block; margin-right: 15px; background: url("#{$img-path}/icons.png") no-repeat 0 0;}
    .icon-acc{width: 22px; height: 25px; background-position: 0 0;}
    .icon-email{width: 32px; height: 21px; background-position: -1px -27px;}
    .icon-pass{width: 24px; height: 11px; background-position: 0 -51px;}
    .checkbox{
      margin-top: 16px;
      align-items: center;
      font-size: 17px; color: #fff;
      input{opacity: 0; position: absolute; visibility: hidden;}
      .checked{
        width: 29px; height: 29px; display: block;
        border-radius: 0.6px;
        margin-right: 10px;
        box-shadow: -1px -0.2px 0 0 rgba(255, 255, 255, 0.1), inset -2px -0.3px 3px 0 rgba(0, 0, 0, 0.4);
        background-color: #141414;
        position: relative;
      }
      .checked::after{
        content: "";
        width: 26px; height: 26px;
        background: url("#{$img-path}/icons.png") no-repeat -1px -103px;
        position: absolute; left: 2px; opacity: 0; visibility: hidden;
      }
      input:checked + .checked::after{opacity: 1; visibility: visible;}
    }
    .btn_submit{
      width: 176px; height: 46px;
      margin: 24px auto 0; border-radius: 5px;
      background-image: linear-gradient(to top, #ce1429, #7a0303);
      text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.6);
      font-size: 20px; color: #fff; text-transform: uppercase;
      border: none; transition: all .25s;
      &:hover{-webkit-filter: saturate(1.4); filter: saturate(1.4);}
    }
  }
  .tab-content{
    background: #1f1f1f;
    box-shadow: -2px -0.3px 3px 0 rgba(0, 0, 0, 0.2), inset -1px -0.3px 0 0 rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.2);
  }
  .nav{
    justify-content: space-between;
    li{width: 49.5%;}
    a{
      width: 100%; height: 46px;
      display: block; text-align: center;
      border-radius: 5px 5px 0 0;
      background-image: linear-gradient(to top, #31050a, #210102); color: #fff; font: 24px/50px MyriadPro-Regular, sans-serif; text-transform: uppercase;
    }
    .active{background-image: linear-gradient(to top, #ce1429, #7a0303); border-radius: 5px 5px 0 0;}
  }
}
.fancybox-overlay,.modal{
  &::-webkit-scrollbar{width: 0;}
}
//uikit
button{
  cursor: pointer; border: none;
  &:focus{outline: none;}
}

@media (max-width: 812px) {
  .navbar{
    height: 30px; padding: 0 10px;
    .logo{width: 60px;}
    .menu,.user{
      a{font-size: 10px;}
    }
    .user{margin-right: 0;}
    .version{display: none;}
    .icon-download{width: 30px; left: -25px;}
  }
  main{
    .bg-pc{display: none;}
    img.bg-mobile{display: block; object-fit: cover; min-height: 60vh;}
  }
  .wheel{
    padding-top: vwm(180px);
    &__it{
      width: vwm(580px);
      margin: vwm(15px) auto;
      .info{
        height: vwm(36px); padding: 0 vwm(17px) 0 vwm(5px);
        span{margin-right: vwm(5px);}
      }
      h5{margin: 0 vwm(8px) 0 0; font-size: vwm(14px);}
      p{padding: 0 vwm(12px); font-size: vwm(14px);}
      p span{font-size: vwm(18px);}
      .btn_exit,.btn_share{width: vwm(123px); height: vwm(36px);}
    }
    &__detail{
      width: vwm(560px);
      height: vwm(560px);
      display: block;
      background: url("#{$img-path}/vongquay/bg-vq.png") no-repeat 0 0/contain;
      margin: vwm(20px) auto 0;
      position: relative; z-index: 8;
    }
    .box-btn{
      >*+*{margin-left: vwm(8px);}
      button{
        height: vwm(36px); padding: 0 vwm(18px);
        font-size: vwm(18px); line-height: vwm(36px);
      }
    }
  }
  canvas{
    width: vwm(500px); height: vwm(500px);
    position: absolute; left: 0; right: 0; top: vwm(25px);
  }
  #spin_button,.spin_button_disable{
    width: vwm(130px); height: vwm(191px);
    position: absolute; left: 50%; top: vwm(152px); transform: translateX(-50%);
  }
  .spin_button_disable{
    display: none;
  }
  .spin_button_disable.active{
    display: block; z-index: 99;
  }

  .popup-history{
    .close{width: 18px; height: 18px; top: 5px; right: 5px;}
    .title{font-size: 20px;}
    table{
      td:last-child{min-width: 100px;}
      th{font-weight: 500; font-size: 14px;}
    }
  }
  .popup-code{
    .modal-header{padding: vwm(10px) 0 0;}
    .modal-title{font-size: vwm(40px); line-height: vwm(80px);}
    .content_rewrad span,h5{font-size: vwm(30px); margin: vwm(15px) 0; line-height: inherit;}
    .btn-agree{width: vwm(179px); height: vwm(45px);}
  }
  .modal-register{
    form{
      padding: 30px 20px;
      input{font-size: 15px; min-height: 50px;}
    }
    .close{right: 0; top: -40px;}
  }
}

//animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}

@keyframes rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}
.rotate{
  animation: rotate;
  -webkit-animation-name: rotate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}